/* profile */
div.profile{
    background-image: url("../image/profile.png");
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 10px;
    background-size: 100px;
    float: left;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px 10px 100px;
    margin: 10px auto 10px 100px;
}

div.profile h2{
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 280px;
}

div.profile b{
    font-size: 18px;
    border-left: chocolate 2px solid;
    border-bottom: chocolate 1px solid;
    margin-right: 10px;
    font-weight: 600;
}

/* family */
div.family{
    background-image: url("../image/family.png");
    background-repeat: no-repeat;
    background-position-x: 300px;
    background-position-y: 10px;
    background-size: 100px;
    float: right;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px 85px 100px;
    margin: 10px 100px 10px auto;
}

div.family h2{
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 280px;
}

div.family b{
    font-size: 18px;
    border-left: chocolate 2px solid;
    border-bottom: chocolate 1px solid;
    margin-right: 10px;
    font-weight: 600;
}

/* education */
div.education{
    clear: both;
    background-image: url("../image/education.png"),url("../image/rst.png"),url("../image/kmutt&sit.png");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position-x: 350px,720px,580px;
    background-position-y: 5px,210px,300px;
    background-size: 100px,50px,150px;
    float: left;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px 20px 100px;
    margin: 20px auto 20px 100px;
}

div.education h2{
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 400px;
}

div.education b{
    font-size: 18px;
    border-left: chocolate 2px solid;
    border-bottom: chocolate 1px solid;
    margin-right: 10px;
    font-weight: 600;
}