
/* My point */
div.point {
    background-image: url("../image/point.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: 450px;
    background-position-y: 10px;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px;
    margin: 20px 100px;
}

div.point h2{
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 800px;
}

/* My skill */
div.skill {
    background-image: url("../image/coding-program.png"),url("../image/logical.png");
    background-repeat: no-repeat,no-repeat;
    background-size: 200px,200px;
    background-position-x: 900px,900px;
    background-position-y: 300px,600px;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px;
    margin: 20px 100px;
}

div.skill h2 {
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 800px;
}

li {
    font-size: 16px;
}

li blue{
    color: blue !important;
}

li normal {
    border: black 2px solid;
    background-color: orange !important;
    font-size: 20px !important;
    letter-spacing: 50px;
}

li good {
    border: black 2px solid;
    background-color: lightgreen !important;
    font-size: 20px !important;
    letter-spacing: 50px;
}

li verygood {
    border: black 2px solid;
    background-color: lightblue !important;
    font-size: 20px !important;
    letter-spacing: 50px;
}
li great {
    border: black 2px solid;
    background-color: magenta !important;
    font-size: 20px !important;
    letter-spacing: 50px;
}

/* why */
div.why {
    background-image: url("../image/coding.jpg");
    background-size: 400px;
    background-position-x: right;
    background-position-y: 0px;
    background-repeat: repeat-y;
    background-color: rgb(255,255,255,0.75);
    border: chocolate 5px solid;
    padding: 20px 100px;
    margin: 20px 100px;
}

div.why h2{
    font-size: 30px;
    border-left: chocolate 3px solid ;
    border-bottom: chocolate 1px solid;
    font-weight: 800;
    margin-right: 800px;
}
